{#
/**
 * This file is part of HumanResources plugin for FacturaScripts.
 * FacturaScripts Copyright (C) 2015-2022 Carlos Garcia Gomez <carlos@facturascripts.com>
 * HumanResources Copyright (C) 2018-2025 Jose Antonio Cuello Principal <yopli2000@gmail.com>
 *
 * This program and its files are under the terms of the license specified in the LICENSE file.
 */
#}
<div class="col-12 text-secondary" style="font-size: smaller">
    <div class="row text-info">
        <div class="col-12"><h4>{{ trans('incidence-leyend') }}</h4></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row mb-2">
                <div class="col-5"><b>{{ trans('incidence-code-LE') }}</b>:&nbsp;&nbsp;{{ trans('incidence-desc-LE') }}</div>
                <div class="col-1"></div>
                <div class="col-6"><b>{{ trans('incidence-code-HO') }}</b>:&nbsp;&nbsp;{{ trans('incidence-desc-HO') }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-5"><b>{{ trans('incidence-code-PH') }}</b>:&nbsp;&nbsp;{{ trans('incidence-desc-PH') }}</div>
                <div class="col-1"></div>
                <div class="col-6"><b>{{ trans('incidence-code-NI') }}</b>:&nbsp;&nbsp;{{ trans('incidence-desc-NI') }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-5"><b>{{ trans('incidence-code-NE') }}</b>:&nbsp;&nbsp;{{ trans('incidence-desc-NE') }}</div>
                <div class="col-1"></div>
                <div class="col-6"><b>{{ trans('incidence-code-NA') }}</b>:&nbsp;&nbsp;{{ trans('incidence-desc-NA') }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-5"><b>{{ trans('incidence-code-NW') }}</b>:&nbsp;&nbsp;{{ trans('incidence-desc-NW') }}</div>
                <div class="col-1"></div>
                <div class="col-6"><b>{{ trans('incidence-code-JA') }}</b>:&nbsp;&nbsp;{{ trans('incidence-desc-JA') }}</div>
            </div>
        </div>
    </div>
</div>
