{#
* Copyright (C) 2021-2023 Carlos Garcia Gomez <carlos@facturascripts.com>
* Author Daniel Fernández Giménez <hola@danielfg.es>
#}

{% extends "Master/MenuBghTemplate.html.twig" %}

{% block body %}
    {{ parent() }}
    {% set divisa = fsc.getDivisa() %}
    <div class="bg-light pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="h2">
                        <i class="fas fa-cash-register"></i> {{ i18n.trans('start-money') }}
                        ({{ divisa.simbolo }})
                    </h1>
                    <small class="text-secondary">{{ i18n.trans('pos-terminal') }}: {{ fsc.tpv.name }}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: -40px;">
        <div class="row">
            <div class="col-sm">
                <form action="{{ fsc.url() }}" method="post">
                    <input type="hidden" name="action" value="starting-money"/>
                    <input type="hidden" name="idtpv" value="{{ fsc.tpv.idtpv }}"/>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="form-row">
                                {% for coin in fsc.getCoinTypes() %}
                                    <div class="col-sm-4 pb-3">
                                        {{ (coin.name < 1) ? coin.name|number_format(2) : coin.name }}
                                        {{ divisa.simbolo }}
                                        <input type="number" name="{{ coin.name|replace({'.': '_'}) }}" value="0"
                                               min="0" class="form-control" required=""/>
                                    </div>
                                {% else %}
                                    <div class="col">
                                        <div class="alert alert-warning">{{ i18n.trans('currency-setup-incomplete') }}</div>
                                        <a href="{{ fsc.getDivisa().url() }}" class="btn btn-warning">
                                            {{ i18n.trans('configure') }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-row">
                                <div class="col">
                                    <form action="{{ fsc.url() }}" method="post">
                                        <input type="hidden" name="idtpv" value="{{ fsc.tpv.idtpv }}">
                                        <button type="submit" name="action" value="agent-out" class="btn btn-secondary">
                                            {{ i18n.trans('cancel') }}
                                        </button>
                                    </form>
                                </div>
                                <div class="col text-right">
                                    <button type="submit" class="btn btn-primary btn-spin-action">
                                        {{ i18n.trans('save') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <form action="{{ fsc.url() }}" method="post">
                        <a href="#" onclick="this.parentNode.submit();return false;"
                           class="btn btn-block btn-secondary">
                            <i class="fas fa-list mr-1"></i> {{ i18n.trans('pos-terminals') }}
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <iframe class="d-none" src="http://localhost:8089"></iframe>
{% endblock %}